<!DOCTYPE html>
<html lang="en">
<head data-th-insert="~{components/header_includes::header-includes}">
    <title data-th-text="${page_title}">Images</title>
</head>
<body>
<div class="Page-container">
    <div data-th-replace="~{components/sort_bar::sort-bar}"></div>
    <script data-th-inline="javascript" type="module">
        import {loadImages} from "/js/mp.image_repo.js";
        import {loadComics} from "/js/mp.comic_repo.js";

        const images = [[${images}]]
        loadImages(images)

        const comics = [[${comics}]]
        loadComics(comics)
    </script>
    <div>
        <div class="Picture-card-container">
            <div th:if="images != null" data-th-each="image : ${images}">
                <div data-th-replace="~{image/image_card::imageCard(extraText = null)}"></div>
            </div>
            <div th:if="comics != null" data-th-each="image : ${comics}">
                <div data-th-replace="~{image/image_card::imageCard(extraText = null)}"></div>
            </div></div>
    </div>
    <div data-th-insert="~{components/page_navigation::page-navigation}"></div>
</div>
<div data-th-insert="~{components/viewer::viewer}"></div>
<div data-th-insert="~{components/footer_menu::footer-menu}"></div>
</body>
</html>