<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Card</title>
</head>
<body>
<div class="Picture-card" data-th-fragment="image-card">
    <script data-th-inline="javascript" type="module">
        import {
            onShowImageViewer,
            getSiblingImages,
            hasPages,
            getPageImages,
        } from "/js/mp.js";

        $(() => {
            let image = [[${image}]]
            if (hasPages(image)) {
                let images = getPageImages(image)
                document.getElementById(image.id).onclick = () => onShowImageViewer(images)
            } else {
                let images = getSiblingImages()
                let selected = image.links.find(link => link.rel === 'data').href
                document.getElementById(image.id).onclick =
                    () => onShowImageViewer(images, selected)
            }
        })
    </script>
    <div class="Display-image Picture-container" data-th-id="${image.id}">
        <img
                src=""
                alt="Picture"
                th:if="${image.links.getLink('data').isPresent()}"
                data-th-src="${image.links.getLink('data').get().href}"
        />
    </div>
    <p data-th-text="${image.title}">Image title</p>
</div>
</body>
</html>