<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Card</title>
</head>
<body>
<div class="Picture-card" data-th-fragment="imageCard(extraText)">
    <script data-th-inline="javascript" type="module">
        import {attachImageHandlers} from "/js/mp.image.js";

        $(() => {
            let image = [[${image}]]
            attachImageHandlers(image)
        })
    </script>
    <!--/*@thymesVar id="image" type="net.tomasbot.mp.api.resource.ImageResource<T>"*/-->
    <div class="Display-image Picture-container" data-th-id="${image.id}"
         th:data-fav-link="${image.getLink('favorite').get().href}">
        <span th:if="${extraText != null  }"
              data-th-text="${extraText} + ' pgs.'"></span>
        <img src="" alt="Picture"
             th:if="${image.getLink('data').isPresent()}"
             data-th-src="${image.getLink('data').get().href}"
        />
    </div>
    <div class="Card-metadata">
        <div class="Card-title" data-th-text="${image.title}">Title</div>
        <div data-th-replace="~{components/card_tags::card_tags(entity=${image})}">Tags</div>
    </div>
</div>
</body>
</html>