<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image viewer</title>
</head>
<body>
<div class="Image-viewer-container" data-th-fragment="image-viewer" id="image-viewer-container">
    <script data-th-inline="javascript" type="module">
        import {attachImageViewerHandlers} from "/js/mp.image.js";

        $(() => {
            attachImageViewerHandlers()
        })
    </script>
    <div class="Image-viewer" id="image-viewer">
        <div id="image-viewer-display"></div>
    </div>
    <div data-th-replace="~{components/viewer_controls::viewer-controls}"></div>
</div>
</body>
</html>