<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image viewer</title>
</head>
<body>
<div class="Image-viewer-container" data-th-fragment="image-viewer" id="image-viewer-container">
    <script data-th-inline="javascript" type="module">
        import {
            onHideImageViewer,
            showPrevImage,
            showNextImage,
        } from "/js/mp.js";

        $(() => {
            // attach event handlers
            $('#Image-viewer-close-button').on('click', () => onHideImageViewer())
            $('#Toggle-image-favorite-button').on('click',
                () => alert('TODO: Implement Picture, Comic Book favorite action'))
            document.addEventListener('keydown', (e) => {
                let container = document.querySelector('#image-viewer-container')
                let display = container.style.display
                if (display && display !== 'none') {
                    let images = container.querySelectorAll('.Display-image')
                    if (e.key === 'ArrowLeft') {
                        showPrevImage(images)
                    }
                    if (e.key === 'ArrowRight') {
                        showNextImage(images)
                    }
                }
            })
        })
    </script>
    <div class="Viewer-controls-container">
        <button class="Viewer-button" id="Image-viewer-close-button">
            <img alt="Close" src="/img/close-button.svg"/>
        </button>
        <button class="Viewer-button Favorite-button" id="Toggle-image-favorite-button">
            <img alt="Not favorite" class="Not-favorite"
                 id="Image-not-favorite" src="/img/icon/not_favorite/not_favorite_64.png"/>
            <img alt="Favorite" class="Favorite"
                 id="Image-favorite" src="/img/icon/favorite/favorite_64.png"/>
            <div class="Loading-spinner">
                <div></div>
                <div></div>
            </div>
        </button>
    </div>
    <div class="Image-viewer" id="image-viewer">
    </div>
</div>
</body>
</html>