@import "variables";


body {
  background-color: $bg_color;
  color: whitesmoke;
  font-family: $default_font;
  display: flex;
  justify-content: center;
}

a {
  color: whitesmoke;
  opacity: .75;
  text-decoration: none;

  &:hover {
    opacity: 1;
    text-decoration: underline;
  }
}

button {
  background: none;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

input {
  padding: .5rem;
  border-radius: 10px;
  border: 1px solid #aaa;
  background-color: rgba(0, 0, 0, .4);
  color: whitesmoke;
}