@import "variables";


body {
  background-color: $bg_color;
  color: whitesmoke;
  font-family: $default_font;
  display: flex;
  justify-content: center;
}

a {
  color: whitesmoke;
  opacity: .75;
  text-decoration: none;

  &:hover {
    opacity: 1;
    text-decoration: underline;
  }
}

button {
  background: none;
  border: none;

  &:hover {
    cursor: pointer;
  }
}