@import 'mixins';
@import 'variables';


.Viewer-controls-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 200;
  transform: translateX(-2rem);

  .Viewer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border: none;
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, .4) 0%, rgba(0, 255, 255, 0) 75%);

    img {
      width: 32px;
    }
  }
}

#Main-viewer-controls {
  top: 3vh;
  right: 3vw;
}

.Card-metadata {
  margin: .25rem 0 .15rem .25rem;

  .Card-title {
    margin-bottom: .25rem;
    font-weight: bold;
    max-width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .Card-tags {
    display: flex;
    align-items: center;
    font-size: small;
    color: #888;
    overflow: hidden;
    text-overflow: ellipsis;

    .Card-icon-container {
      display: flex;
      align-items: center;
      margin-right: .5rem;

      img {
        width: 16px;
        margin: 0 .25rem;
        opacity: .65;
      }
    }

    .Card-tag-list {
      display: flex;
      align-items: center;
      overflow: hidden;
      max-height: 35px;

      .Card-tag {
        border: 1px solid #888;
        border-radius: 5px;
        padding: 3px 5px;
        margin: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        max-width: 100px;
        min-width: 50px;
      }
    }
  }
}

.Viewer-button.Favorite-button {
  .Favorite {
    display: none;
  }

  &.favorite {
    .Favorite {
      display: inline-block;
    }

    .Not-favorite {
      display: none;
    }
  }

  &.loading {
    img {
      display: none;
    }

    .Loading-spinner {
      display: inline-block;
    }
  }
}

#Page-counter {
  @include card-data;
  position: revert;
  display: none;
}

.Loading-spinner {
  display: none;
  position: relative;

  img {
    width: 32px;
    height: 32px;
  }
}

.Loading-spinner span {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.Loading-spinner span:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: $spinnerSize;
    left: $spinnerSize;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: $spinnerSize;
    left: $spinnerSize;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: $spinnerSize;
    left: $spinnerSize;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: calc($spinnerSize * 2);
    height: calc($spinnerSize * 2);
    opacity: 0;
  }
}

#Entity-title {
  display: block;
  font-size: x-large;
  margin-bottom: 2rem;
  padding: 0;
}

.Tag-container {
  border: 1px solid #666;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: text;
  overflow-x: scroll;
  margin: .75rem 0;

  .Tag-list {
    display: flex;
    align-items: center;

    .Entity-tag {
      max-width: 200px;
      overflow: hidden;
      white-space: nowrap;
      border-radius: 5px;
      background-color: #003eff;
      padding: 5px;
      margin: 5px;
      display: flex;
      align-items: center;
      font-family: $default_font;
      color: white;
      font-size: medium;

      $delButtonSize: 24px;

      &::after {
        content: 'x';
        font-family: $mono_font;
        text-align: center;
        background-color: rgba(0, 0, 0, .4);
        border-radius: 100%;
        margin-left: 5px;
        height: $delButtonSize;
        width: $delButtonSize;
        max-height: $delButtonSize;
        max-width: $delButtonSize;
      }

      &:hover {
        background-color: #022fba;

        &::after {
          background-color: rgba(120, 120, 120, .4);
          color: #ccc;
        }
      }
    }
  }

  #Tag-input {
    width: 10rem;
    border: none;
    background: none;
    margin-left: 5px;
  }
}

.Save-button {
  @include modal-button;

  background-color: #003eff;
  overflow: hidden;

  &:hover {
    background-color: #3c6cff;
    border-color: white;
  }

  .Save-button-label {
    display: flex;
    justify-content: center;
  }
}

.Cancel-button {
  @include modal-button;

  background-color: #aaa;
  border-color: #666;
  color: #666;

  &:hover {
    border-color: #333;
    color: #333;
  }
}