@import "variables";


@mixin screen-size($max) {
  @media (max-width: $max - 1) {
    @content
  }
}

@mixin card-container {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw;
  grid-row-gap: 3rem;
  grid-column-gap: 6rem;

  @include screen-size($tablet_landscape_max) {
    grid-gap: 3rem;
  }

  @include screen-size($tablet_portrait_max) {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 2rem;
    justify-content: center;
  }
  width: 100%;
  overflow: hidden;
}

@mixin swipe-image($width, $height) {
  position: relative;
  width: $width;
  height: $height;

  border-radius: 10px;
  overflow: hidden;
  margin-bottom: .25rem;

  .Display-image {
    display: none;

    &.current {
      display: block;
    }

    img {
      height: $height;
      width: $width;
    }

    @content;
  }
}

@mixin card-data {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 3px 5px;
  border-radius: 3px;
  color: #ccc;
  background-color: rgba(0, 0, 0, .6);
}

@mixin rotate90 {
  &.rotate {
    position: relative;
    width: 100vh;
    height: 100vw;

    &.CCW {
      transform: rotate(-90deg);
      top: -30%;
      left: 20%;
    }

    &.CW {
      transform: rotate(90deg);
      height: 100%;
      width: 100%;
      left: -5%;
    }
  }
}