@import "mixins";
@import "variables";


.Page-container {
  width: 90%;
  @include screen-size($tablet_landscape_max) {
    width: 100%;
  }
  padding-bottom: 2rem;

  .Page-navigation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    .Page-navigation-button {
      padding: 1rem;
      opacity: .5;

      &:hover {
        opacity: .9;
      }
    }
  }
}

.Footer-menu-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $bg_color;
  display: flex;
  justify-content: center;

  .Footer-menu {
    width: 40%;
    display: flex;
    justify-content: space-evenly;

    img {
      width: 2rem;
      padding: 1rem;
      opacity: .65;
      @include screen-size($tablet_portrait_max) {
        opacity: .9;
      }

      &:hover {
        opacity: .9;
      }
    }
  }
}

.More-link {
  margin: 3rem;
  font-size: large;
  text-align: center;

  a {
    padding: 1rem 2rem;
    border: 1px solid whitesmoke;
    display: inline-flex;

    span {
      display: flex;
      align-items: center;

      img {
        width: 16px;
        margin-right: 1rem;
      }
    }
  }
}