@import "mixins";
@import "variables";


.Page-container {
  width: 90%;

  .Page-navigation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem;

    .Page-navigation-button {
      padding: 1rem;
      opacity: .5;

      &:hover {
        opacity: .9;
      }
    }
  }
}

.Footer-menu-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $bg_color;
  display: flex;
  justify-content: center;

  .Footer-menu {
    width: 40%;
    display: flex;
    justify-content: space-evenly;

    img {
      width: 2rem;
      padding: 1rem;
      opacity: .65;
      @include screen-size($tablet_portrait_max) {
        opacity: .9;
      }

      &:hover {
        opacity: .9;
      }
    }
  }
}

.More-link {
  margin: 3rem;
  font-size: large;
  text-align: center;

  a {
    padding: 1rem 2rem;
    border: 1px solid whitesmoke;
    display: inline-flex;

    span {
      display: flex;
      align-items: center;

      img {
        width: 16px;
        margin-right: 1rem;
      }
    }
  }
}

.Search-modal-container {
  display: none;

  .Search-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;

    .Search-form-container {
      background-color: #333;
      padding: 2rem;
      border-radius: 10px;
      box-shadow: 3px 6px 10px rgba(0, 0, 0, .6);

      .Search-form {
        display: flex;

        input#search-form {
          display: flex;
          background-color: #222;
          border: 0;
          border-radius: 5px;
          padding: .5rem;
          width: 30vw;
          color: #aaa;
          font-size: x-large;

          &::placeholder {
            color: #444;
          }
        }

        button[type=submit] {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(180, 180, 180, .3);
          margin-left: 1.5rem;
          border-radius: 5px;

          &:hover {
            background-color: rgba(180, 180, 180, .7);
          }

          img {
            width: 24px;
            opacity: .5;
            padding: .25rem .5rem;
          }
        }
      }
    }
  }
}

.Login-form-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .Login-form {
    background-color: rgba(200, 200, 200, .1);
    padding: 3rem 6rem;
    border: 1px solid rgba(180, 180, 180, .5);
    border-radius: 10px;

    h1 {
      margin-top: 0;
    }

    form {
      display: flex;
      flex-direction: column;

      input {
        margin-top: .5rem;
        margin-bottom: 1.5rem;
      }

      button[type=submit] {
        margin-top: 1rem;
        background-color: rgba(0, 0, 0, .75);
        color: #aaa;
        padding: 1rem .5rem;
        border-radius: 10px;
        border: 1px solid #666;
        letter-spacing: .1em;

        &:disabled {
          background-color: #121212;
          border-color: transparent;
          color: #888;

          &:hover {
            cursor: not-allowed;
          }
        }

        &:hover:not(:disabled) {
          border-color: #aaa;
          color: whitesmoke;
          background-color: rgba(10, 10, 10, .75);
        }
      }
    }

    .Login-error {
      color: red;
      text-align: center;
    }
  }
}

.Logout-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    margin: 0;
  }

  p {
    color: #aaa;
  }
}

.Sort-bar {
  display: flex;
  align-items: center;
  padding: 2rem 0;

  .Sort-button {
    width: 100px;
    border-radius: 5px;
    background-color: rgba(180, 180, 180, .4);
    font-weight: bold;
    margin-right: 2rem;
    padding: 4px;
    text-decoration: none;
    text-align: center;
    color: black;

    &.current {
      background-color: rgba(180, 180, 180, .8);
      background-color: white;
    }

    &:hover {
      background-color: rgba(180, 180, 180, .8);
    }
  }
}