$bg_color: #121212;
$default_font: 'Mulish', sans-serif;
$mono_font: 'Source Code Pro', 'SF Mono', Monaco, Inconsolata, 'Fira Mono', 'Droid Sans Mono', monospace, monospace;
$spinnerSize: 24px;

// breakpoints
$phone_max: 600px;
$tablet_portrait_max: 900px;
$tablet_landscape_max: 1200px;
$small_desktop_max: 1800px;
