@import "mixins";
@import "variables";

.Video-card-container {
  @include card-container;

  .Video-card {
    width: 20vw;
    @include screen-size($small_desktop_max) {
      width: 24vw;
    }
    @include screen-size($tablet_portrait_max) {
      width: 40vw;
    }

    &:hover {
      cursor: pointer;
    }

    .Video-thumbnail-container {
      @include swipe-image(100%, unset);

      .Video-duration {
        @include card-data;
      }
    }
  }
}

#Video-player-container {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;

  #Video-player {
    width: 100%;
    height: 100%;

    @include rotate90;

    &.rotate {
      width: 100vh;
      height: 100vw;

      &.CCW {
        transform: translate(50vh, -25vw) rotate(-90deg);

        @media screen and (min-width: $phone_max) and (max-width: $tablet_landscape_max) {
          transform: rotate(-90deg) translate(20vh, 15vw);
        }

        @media screen and (min-width: $tablet_landscape_max) and (max-width: $small_desktop_max) {
          transform: translate(20vh, -15vw) rotate(-90deg);
        }
      }
    }
  }

  #Video-time-container {
    position: fixed;
    bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#Video-time-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2rem;

  #Video-play-indicator {
    width: 24px;
    cursor: pointer;
  }

  #Video-time-controls {
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .Video-time-indicator {
      margin: 1rem;
      padding: .25rem .5rem;
      white-space: nowrap;
      background-color: rgba(0, 0, 0, .3);
      border-radius: 5px;
    }
  }
}

#Video-skip-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  #Video-skip-button-container {
    display: flex;
    justify-content: space-between;

    .Video-skip-button {
      background: radial-gradient(circle, rgba(0, 0, 0, .4) 0%, rgba(0, 255, 255, 0) 75%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 64px;
      color: white;
      width: 128px;
      height: 128px;
      font-size: large;
      font-weight: bold;

      img {
        position: absolute;
        margin-bottom: .75rem;
      }
    }

    #Video-rewind-button > img {
      transform: scaleX(-1);
    }
  }
}

// jQueryUI overrides
.Video-time-slider {
  background-color: rgba(140, 140, 140, .5);
  width: 100%;
  border: none !important;
  border-radius: 5px;
  box-shadow: inset 2px 3px 3px rgba(0, 0, 0, .5);
}

.Video-time-slider-handle {
  border-radius: 50%;
}

.Video-time-range {
  background-color: rgba(0, 0, 0, .6);
}