@import "mixins";
@import "variables";

.Video-card-container {
  @include card-container;

  .Video-card {
    width: 20vw;
    @include screen-size($small_desktop_max) {
      width: 24vw;
    }
    @include screen-size($tablet_portrait_max) {
      width: 40vw;
    }

    &:hover {
      cursor: pointer;
    }

    .Video-thumbnail-container {
      @include swipe-image(100%, unset);

      .Video-duration {
        @include card-data;
      }
    }
  }
}

#Video-player-container {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 300;

  #Video-player {
    width: 100%;
    height: 100%;
  }
}