<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Dialog</title>
</head>
<body>
<div data-th-fragment="edit-dialog">
    <script data-th-inline="javascript" type="module">
        import {setState} from "/js/mp.state.js";
        import {addTag, onSaveEditDialog, clearEditDialog, onSearchValueChange} from "/js/mp.js";


        $(() => {
            const input = $('#Tag-input')

            input.on('input', (e) => {
                const value = e.target.value
                onSearchValueChange(value)
                setState({
                    editedTag: value
                })
            })
            $('#Tag-container').on('click', () => input.focus())
            $('#Tag-editor').on('submit', (e) => {
                e.preventDefault()
                addTag()
            })
            $('#Save-button').on('click', onSaveEditDialog)
            $('#Cancel-button').on('click', clearEditDialog)
        })
    </script>
    <div class="Modal-container" id="Edit-dialog">
        <div class="Dialog-body">
            <div class="Dialog-section" style="margin-bottom: 1rem;">
                <label for="Entity-title" style="display: none;">Title</label>
                <input type="text" id="Entity-title" name="title" placeholder="Enter a title..." disabled>
            </div>
            <div class="Dialog-section">
                <label>Tags</label>
                <div id="Tag-container" class="Tag-container">
                    <div id="Tag-list" class="Tag-list"></div>
                </div>
            </div>
            <div class="Dialog-section">
                <form id="Tag-editor" action="#" style="position:relative;">
                    <label for="Tag-input" style="display: block; margin-bottom: 5px">
                        Add new Tag
                    </label>
                    <input type="text" name="tag_input" id="Tag-input" autocomplete="off"/>
                    <div id="Tag-suggestion-container" class="Tag-suggestion-container hidden">
                        <ul id="Tag-suggestions" class="Tag-suggestions"></ul>
                    </div>
                </form>
            </div>
            <div class="Dialog-section" id="Modal-controls">
                <button class="Save-button" id="Save-button">
                    <span class="Save-button-label">Save</span>
                    <span data-th-replace="~{components/loading_spinner::loading-spinner}"></span>
                </button>
                <button class="Cancel-button" id="Cancel-button">Cancel</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>