<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer menu</title>
</head>
<body>
<div class="Footer-menu-container" data-th-fragment="footer-menu">
    <div class="Footer-menu" id="footer-menu">
        <a href="/" id="home-link">
            <img alt="Home" src="/img/icon/home_unselected/home_unselected_64.png"/>
        </a>
        <a href="/favorites" id="favorites-link">
            <img alt="Favorites" src="/img/icon/not_favorite/not_favorite_64.png"/>
        </a>
        <a href="/videos/random" id="videos-link">
            <img alt="Video" src="/img/icon/videos_unselected/videos_unselected_64.png"/>
        </a>
        <a href="/pictures/random" id="pictures-link">
            <img alt="Pictures" src="/img/icon/pictures_unselected/pictures_unselected_64.png"/>
        </a>
        <a href="/comics/random" id="comics-link">
            <img alt="Comics" src="/img/icon/comics_unselected/comics_unselected_64.png"/>
        </a>
        <button class="Footer-menu-button" id="Search-modal-button">
            <img alt="Search" src="/img/icon/search/search_64.png"/>
        </button>
    </div>
    <div class="Search-modal-container" id="search-modal-container">
        <div class="Search-modal">
            <div class="Search-form-container" id="search-modal">
                <form action="/search/all" class="Search-form" method="GET">
                    <label for="search-form"></label>
                    <input id="search-form" name="q" placeholder="Search..." type="search"/>
                    <button type="submit">
                        <img alt="Search" src="/img/icon/search/search_64.png"/>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <script type="module">
        import {
            onShowSearchModal,
            onHideSearchModal,
            setupSelectedNavItem,
        } from "/js/mp.js";

        $(() => {
            $('#Search-modal-button').click(onShowSearchModal)
            $(document).keyup(e => {
                if (e.key === 'Escape') onHideSearchModal()
            })
            setupSelectedNavItem()
        })
    </script>
</div>
</body>
</html>