<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer menu</title>
</head>
<body>
<div class="Footer-menu-container" data-th-fragment="footer-menu">
    <div class="Footer-menu" id="footer-menu">
        <a href="/" id="home-link">
            <img alt="Home" src="/img/icon/home_unselected/home_unselected_64.png"/>
        </a>
        <a href="/videos" id="videos-link">
            <img alt="Video" src="/img/icon/videos_unselected/videos_unselected_64.png"/>
        </a>
        <a href="/pictures" id="pictures-link">
            <img alt="Pictures" src="/img/icon/pictures_unselected/pictures_unselected_64.png"/>
        </a>
        <a href="/comics" id="comics-link">
            <img alt="Comics" src="/img/icon/comics_unselected/comics_unselected_64.png"/>
        </a>
    </div>
    <script>
        $(() => {
            let url = window.location.href
            let match = url.match(/home|videos|pictures|comics/)
            let selector = match ? `${match[0]}-link` : 'home-link'
            let key = match ? match[0] : 'home'
            document.getElementById(selector).innerHTML =
                `<img alt="${key}" src="/img/icon/${key}_selected/${key}_selected_64.png" />`
        })
    </script>
</div>
</body>
</html>