<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer menu</title>
</head>
<body>
<div class="Footer-menu-container" data-th-fragment="footer-menu">
    <div class="Footer-menu">
        <a href="/">
            <img alt="Home" src="/img/icon/home_selected/home_selected_64.png"/>
        </a>
        <a href="/videos">
            <img alt="Video" src="/img/icon/video_selected/video_selected_64.png"/>
        </a>
        <a href="/pictures">
            <img alt="Pictures" src="/img/icon/photo_selected/photo_selected_64.png"/>
        </a>
        <a href="/comics">
            <img alt="Comics" src="/img/icon/comic_selected/comic_selected_64.png"/>
        </a>
    </div>
</div>
</body>
</html>