<head data-th-fragment="header-includes">
  <meta charset="UTF-8">
  <script src="/js/vendor/md5.min.js"></script>
  <script src="/js/vendor/jquery-3.6.3.min.js"></script>
  <script src="/js/vendor/jqueryui-1.14.0.min.js"></script>
  <script src="/js/vendor/jquery.ui.touch-punch.min.js"></script>
  <script src="/js/mp.js" type="module"></script>
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap"
        rel="stylesheet">
  <link href="/css/vendor/jqueryui-1.14.0.min.css" rel="stylesheet"/>
  <link href="/css/mp.min.css" rel="stylesheet"/>
  <title data-th-text="${page_title}"></title>
</head>