<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Player</title>
</head>
<body>
<div data-th-fragment="video-player" id="Video-player-container">
    <video autoplay controls id="Video-player" loop>
    </video>
    <button class="Close-button" id="Video-player-close-button">
        <img alt="Close" src="/img/close-button.svg"/>
    </button>

    <script type="module">
        import {hideVideoPlayer} from "/js/mp.js";

        $(() => {
            document.getElementById('Video-player-close-button').onclick = hideVideoPlayer
        })
    </script>
</div>
</body>
</html>