<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Card</title>
</head>
<body>
<!--/*@thymesVar id="video" type="net.tomasbot.mp.api.resource.VideoResource"*/-->
<div class="Video-card" data-th-fragment="video-card" data-th-id="${video.id}">
    <div class="Video-thumbnail-container">
        <span class="Video-duration" data-th-text="${video.duration}"></span>
        <div class="Display-image"
             data-th-each="link : ${video.links}"
             th:if="${#strings.equals(link.rel, 'thumbnail')}">
            <img alt="video thumbnail" data-th-alt="${link.rel}" data-th-src="${link.href}"
                 src="/img/video_placeholder.png"
            />
        </div>
    </div>
    <div class="Card-metadata">
        <div class="Card-title" data-th-text="${video.title}">Title</div>
        <div data-th-replace="~{components/card_tags::card_tags(entity=${video})}">Tags</div>
    </div>
    <script data-th-inline="javascript" type="module">
        import {attachVideoCardHandlers} from "/js/mp.video.js";
        import {loadVideo} from "/js/mp.video_repo.js";


        $(() => {
            const video = [[${video}]]

            loadVideo(video)
            attachVideoCardHandlers(video.id)
        })
    </script>
</div>
</body>
</html>