<!DOCTYPE html>
<html lang="en">
<head data-th-insert="~{components/header_includes::header-includes}">
    <title data-th-text="${page_title}">Home</title>
</head>
<body>
<div class="Page-container">
    <script data-th-inline="javascript">
        const images = [[${pictures}]]
        const comics = [[${comics}]]

        $(() => {
            mp.imageRepo.loadImages(images)
            mp.comicRepo.loadComics(comics)
        })
    </script>
    <div th:if="${not #lists.isEmpty(videos)}">
        <h1>Videos</h1>
        <div class="Video-card-container">
            <div class="Video-card"
                 data-th-each="video : ${videos}"
                 data-th-insert="~{video/video_card}">
            </div>
        </div>
        <div data-th-unless="${#strings.isEmpty(more_videos_link)}">
            <div data-th-replace="~{components/more_button::moreButton(link=${more_videos_link})}"></div>
        </div>
    </div>
    <div th:if="${not #lists.isEmpty(pictures)}">
        <h1>Pictures</h1>
        <div class="Picture-card-container">
            <div data-th-each="image : ${pictures}">
                <div data-th-replace="~{image/image_card::imageCard(extraText = null)}"></div>
            </div>
        </div>
        <div data-th-unless="${#strings.isEmpty(more_pictures_link)}">
            <div data-th-replace="~{components/more_button::moreButton(link=${more_pictures_link})}"></div>
        </div>
    </div>
    <div th:if="${not #lists.isEmpty(comics)}">
        <h1>Comic Books</h1>
        <div class="Picture-card-container">
            <!--/*@thymesVar id="image" type="net.tomasbot.mp.api.resource.ComicBookResource"*/-->
            <div data-th-each="image : ${comics}">
                <div data-th-replace="~{image/image_card::imageCard(extraText = ${image.pageCount})}"></div>
            </div>
        </div>
        <div data-th-unless="${#strings.isEmpty(more_comics_link)}">
            <div data-th-replace="~{components/more_button::moreButton(link=${more_comics_link})}"></div>
        </div>
    </div>
    <div style="width: 100%; height: 2rem;">&nbsp;</div>
</div>
<div data-th-insert="~{components/viewer::viewer}"></div>
<div data-th-insert="~{components/footer_menu::footer-menu}"></div>
</body>
</html>