<!DOCTYPE html>
<html lang="en">
<head data-th-insert="~{header_includes::header-includes}">
    <title>Latest</title>
</head>
<body>
<div class="Page-container">
    <div class="Video-card-container">
        <div data-th-each="video : ${videos}" data-th-insert="~{video_card::video-card}">
        </div>
    </div>
    <div class="Page-navigation-container">
        <a class="Page-navigation-button"
           data-th-href="'./latest?page=' + ${prev_page}"
           data-th-unless="${prev_page == null}"
           href="./latest">
            <img alt="More..." src="/img/icon/page_arrow/page_arrow_32.png"
                 style="transform: scaleX(-1)"/>
        </a>
        <span>
    <span data-th-text="${current_page}">current page</span>
    <span style="font-weight: bolder; color: rgba(180,180,180,.5);"> / </span>
    <span data-th-text="${total_pages}"># of pages</span>
  </span>
        <a class="Page-navigation-button"
           data-th-href="'./latest?page=' + ${next_page}"
           data-th-unless="${next_page == null}"
           href="./latest">
            <img alt="More..." src="/img/icon/page_arrow/page_arrow_32.png"/>
        </a>
    </div>
</div>
<div data-th-insert="~{video_player::video-player}"></div>
</body>
</html>