<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Card</title>
</head>
<body>
<div class="Video-card" data-th-fragment="video-card" data-th-id="${video.id}">
    <div class="Video-thumbnail-container">
        <div
                class="Video-thumbnail"
                data-th-each="link : ${video.links}" th:if="${#strings.equals(link.rel, 'thumbnail')}">
            <img alt="video thumbnail" data-th-alt="${link.rel}" data-th-src="${link.href}"
                 src="/img/video_placeholder.png"
            />
        </div>
    </div>
    <div class="Video-card-title" data-th-text="${video.title}">Title</div>
    <div class="Video-metadata">Tags, metadata, &c. go here</div>
    <script data-th-inline="javascript" type="module">
        import {
            showVideoPlayer,
            getVideoLink,
            cycleThumbs,
            onStartSwipe,
            onEndSwipe,
        } from "/js/mp.js";
        // initialize video card
        $(() => {
            let {id, links} = [[${video}]]
            let url = getVideoLink(links)
            let element = document.getElementById(`${id}`)

            // attach event handlers
            let timer
            let thumbs = element.querySelectorAll('.Video-thumbnail')
            element.onclick = showVideoPlayer(url)
            element.onmouseenter = () => timer = cycleThumbs(thumbs)
            element.onmouseleave = () => clearInterval(timer)
            element.ontouchstart = (e) => onStartSwipe(e)
            element.ontouchend = (e) => onEndSwipe(e, thumbs)

            // show first thumb
            element.querySelector('.Video-thumbnail').classList.add('current')
        });
    </script>
</div>
</body>
</html>